# common things to ignore
*.o
*.pyc
dist
build


# created after ./configure
Makefile
Makefile.pre
python.pc
Setup
Setup.config
Setup.local
config.c
ld_so_aix
config.log
config.status
pyconfig.h

# created after make
libpython2.7.a
pybuilddir.txt
python
python-gdb.py
